pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}
code {
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: normal;
}
pre > code {
    background-color: transparent;
    border: 0px;
    padding: 0.2rem 0.1rem 0.02rem;
}
#menu {
    width: 10rem;
    float: left;
    margin: 0px 10px 0px;
}
#menu > ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#content {
    float: right;
    width: calc(100% - 10rem - 40px);
    margin: 0px 10px 0px;
}